@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@font-face {
    font-family: 'Andy';
    src: url(../fontes/ANDYB.TTF);
}

@font-face {
    font-family: 'Zen';
    src: url(../fontes/ZenDots-Regular.ttf);
}

:root {
    --azulc: #A8BBE3;
    --azul: #0000ff;
    --azules: #060418;
    --vescuro: #4C3428;

    --balsmic: 'Balsamiq Sans';
    --roboto: 'Roboto';
    --terraria: 'Andy';
    --game: 'Zen';
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--roboto);
}

header{
    background-image: linear-gradient(145deg, var(--azules), var(--azules), #271d80, #060418);
    box-shadow: 1px 1px 2px black;
}

#tema{
    text-align: right;
    margin-top: 20px;
    font-size: 5.3em;
    font-family: var(--roboto);
    color: white;
    text-shadow: 2px 2px 1px black;
}

#desc{
    margin-top: 10px;
    font-family: var(--roboto);
    font-size: 1.5em;
    color: white;
    text-align: right;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.596);
}

#tema, #desc{
    margin-right: 50px;
}

#descricao{
    margin: 50px 0px 200px 0px;
}

article p{
    max-width: 800px;
}

#social{
    margin-top: 70px;
}

footer{
    
}

@media (max-width: 1050px) {
    #logo, #social{
        display: none;
    }
}